.Navbar {
    width: 100%;
    height: 100vh;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--medium-dark-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar .current-page {
    width: 100%;
    height: 7rem;
    border-top: 1.5px solid var(--easy-dark-color);
    border-right: 1.5px solid var(--easy-dark-color);
    border-bottom: 1.5px solid var(--easy-dark-color);

    grid-row: 1/2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar .current-page p {
    font-size: 2.5rem;
}