.HeaderContent {
  width: 100%;
  padding: 5rem 3rem 0rem 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderContent .page-info h1 {
  font-size: 4rem;
}

.HeaderContent .page-info p {
  font-size: 1.5rem;
  color: var(--font-dark-color);
}

.HeaderContent .members {
  width: 30%;
  max-width: 35rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderContent .members .icons img {
  width: 3rem;
  border-radius: 50%;
}

.HeaderContent .members .addMember {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: 2px solid var(--easy-dark-color);
  border-radius: .5rem;
}

.HeaderContent .members p {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: 2px solid var(--easy-dark-color);
  border-radius: 50%;
}